.banner{
    background-position: center;
    background-size: cover;
    height: 36.0rem;
    width: 100%;
    background-color: black;
}

.title-panel{
    background-color: white;
    border-radius: 37px 37px 0 0;
    color: black;
    font-size: 50px;
    height: 150px;
    margin: 0 auto;
    max-width: 500px;
}